parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_null\\(\\) with int will always evaluate to false\\.$#"
			count: 1
			path: src/Cronner/Cronner.php

		-
			message: "#^Call to function is_string\\(\\) with Nette\\\\Reflection\\\\IAnnotation will always evaluate to false\\.$#"
			count: 1
			path: src/Cronner/Tasks/Parameters.php

		-
			message: "#^Cannot cast Nette\\\\Reflection\\\\IAnnotation to string\\.$#"
			count: 4
			path: src/Cronner/Tasks/Parameters.php

		-
			message: "#^Method Bileto\\\\Cronner\\\\Tasks\\\\Parameters\\:\\:parseParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Cronner/Tasks/Parameters.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Cronner/Tasks/Parameters.php

		-
			message: "#^Method Bileto\\\\Cronner\\\\Tasks\\\\Parser\\:\\:timePartsToArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Cronner/Tasks/Parser.php

		-
			message: "#^Dead catch \\- Throwable is never thrown in the try block\\.$#"
			count: 3
			path: src/Cronner/Tasks/Task.php

		-
			message: "#^Method Bileto\\\\Cronner\\\\Tasks\\\\Task\\:\\:__invoke\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Cronner/Tasks/Task.php

		-
			message: "#^Property Bileto\\\\Cronner\\\\TimestampStorage\\\\DummyStorage\\:\\:\\$taskName is never read, only written\\.$#"
			count: 1
			path: src/Cronner/TimestampStorage/DummyStorage.php

