parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_null\\(\\) with int will always evaluate to false\\.$#"
			count: 1
			path: src/Cronner/Cronner.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Cronner/Tasks/Parameters.php

		-
			message: "#^Dead catch \\- Throwable is never thrown in the try block\\.$#"
			count: 3
			path: src/Cronner/Tasks/Task.php

		-
			message: "#^Property Bileto\\\\Cronner\\\\TimestampStorage\\\\DummyStorage\\:\\:\\$taskName is never read, only written\\.$#"
			count: 1
			path: src/Cronner/TimestampStorage/DummyStorage.php

