extensions:
	cronner: Bileto\Cronner\DI\CronnerExtension

services:
	fooService: CronnerTests\Objects\FooService


cronner:
	tasks:
		- CronnerTests\Objects\SimpleTestObjectWithDependency(@fooService)
		- CronnerTests\Objects\AnotherSimpleTestObjectWithDependency(@fooService)
