extensions:
	cronner: Bileto\Cronner\DI\CronnerExtension

services:
	fooService: CronnerTests\TestObjects\FooService


cronner:
	tasks:
		- CronnerTests\TestObjects\SimpleTestObjectWithDependency(@fooService)
		- CronnerTests\TestObjects\AnotherSimpleTestObjectWithDependency(@fooService)
